.root{
    -fx-background-color: #F5F5F5;
    -fx-font-size: 15px;
    -fx-font-family: Rockwell;
}

.label{
    -fx-text-fill: #004C99;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#header{
    -fx-text-fill: #003366;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

#subHeader{
    -fx-text-fill: #EC7063;
    -fx-font-size: 25px;
    -fx-font-family: "Andale Mono";
}

#headerBox{
    -fx-background-color: #B3E5FC;
}

#pane{
    -fx-background-image: url("maldives.jpeg");
    -fx-background-position: center;
    -fx-background-size: 800px 300px;
}

#pane1{
    -fx-background-image: url("moraine-lake.jpeg");
    -fx-background-position: center;
    -fx-background-size: 800px 300px;
}

#message{
    -fx-text-fill: #F1C40F;
    -fx-font-size: 25px;
}

#details{
    -fx-text-fill: #CB4335;
}

.button{
    -fx-background-color: #48C9B0;
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 20px;
}

.button:hover{
    -fx-background-color: #F4D03F;
}

.check-box{
    -fx-text-fill: #004C99;
    -fx-font-size: 20px;
}
